<footer>
  <p mt-8 text-xs op-30>
    <!-- <span pr-1>Token:</span> -->
    <a
      b-slate-link
      href="https://pepegpt.space" target="_blank"
    >
    Website
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://t.me/pepegpt_space/" target="_blank"
    >
      Telegram
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://twitter.com/pepegpt_space" target="_blank"
    >
      Twitter
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://bscscan.com/address/0x0f8f27cffae85f01558caac430e3d9c4a905bf98" target="_blank"
    >
      Smart Contract
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="#" target="_blank"
    >
      Audit
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://www.pinksale.finance/launchpad/#?chain=BSC" target="_blank"
    >
      Pinksale
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://pancakeswap.finance/swap?outputCurrency=BNB&inputCurrency=0x0F8F27cFfaE85f01558CaAc430E3d9C4a905Bf98" target="_blank"
    >
      Pancake Swap
    </a>
  </p>
</footer>
